.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  background: url("https://i.ibb.co/GQByDtP/bacground.jpg") center/cover;
  overflow: hidden;
  min-height: 100vh;
  color: #fff;
  backdrop-filter: blur(10px);
}

.projectSection {
  margin-bottom: 30px;
  max-width: 1200px;
}

.sectionTitle {
  font-size: 32px;
  margin: 1.5rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  word-spacing: 2px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectWrapper {
  width: calc(50% - 30px);
  margin: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.projectWrapper:hover {
  transform: scale(1.05);
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
}

.projectImage {
  width: 100%;
  max-width: 630px;
  max-height: 750px;
  margin: 20px auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  object-fit: cover;
  display: block;
}

.description,
.technologies {
  margin: 1rem;
  word-spacing: 3px;
  line-height: 1.2;
  font-size: 18px;
  letter-spacing: 3px;
}

.technologies {
  font-style: italic;
}

.linkWrapper {
  display: flex;
  text-align: center;
  margin: 1.2rem auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #3498db;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.link:hover {
  background-color: #297fb8;
  color: #fff;
  transform: scale(1.05);
}

.scrollButton {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: darkred;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1rem;
}

.scrollButton:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .projectWrapper {
    width: 100%;
  }

  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 469px) {
  .projectWrapper {
    width: calc(100% - 30px);
    margin: 15px 0;
  }

  .title {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 258px) {
  .projectWrapper {
    width: calc(100% - 20px);
    margin: 10px 0;
  }

  .title {
    font-size: 14px;
    margin-bottom: 6px;
  }
}
